.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.container > div {
  margin-right: 50px;
}
.alphabet {
  display: flex;
}
.alphabet div {
  margin: 50px;
  padding: 20px;
}
.iterateWord {
  margin: 20px;
  border: 1px solid lightblue;
}
.radio {
  margin: 20px;
}
